.spacearound {
    padding: 15px;
}
#classesTable thead th, #classesTable tbody td {
    padding: 20px 10px;
}

@media(max-width:862px) and (min-width:0){
    .displayMobile{
        display: none;
    }
}