#classesTable thead th, #classesTable tbody td {
    padding: 10px 5px;
    vertical-align: middle;
}
h1{
    float: left;
}
.add-button{
    float: right;
    margin-top: 20px;
}

.btn i{
    margin-right: 5px;
}
