.displayflexnone {
    display: block !important;
}

.spacearound {
    padding: 15px;
}
.forcetextcenter  {
    text-align: center !important;
}

.borderinput {
    border:1px solid black
}

textarea
{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}

input
{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}
